@model IEnumerable<LearnLanguages.Business.MultiLineTextList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsChild)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDirty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsValid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSavable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBusy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowEdit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowNew)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowRemove)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaiseListChangedEvents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSelfBusy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsChild)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDirty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsValid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSavable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsBusy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowEdit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowNew)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowRemove)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaiseListChangedEvents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSelfBusy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
